
<div class="container-fluid" id="fluid">

  <div class="container" id="">
  <section id="contact">
    <div class="wrapper">
      <h3>CONTACTEZ-NOUS</h3>
      <p>Besoin d’informations ? Ou vous souhaitez rencontrez notre équipe dynamique et motivée ? Veuillez rentrez en contact avec nous !</p>
            
        <form id="contact-form" method="post" action="" role="form">
                        <div class="row" id="ligneFooter">
                            
                            <div class="col-md-4">
                                <label for="nom">Nom<span class="blue">*</span></label>
                                <input id="nom" type="text" name="nom" class="form-control" placeholder=" votre nom">
                            </div>
                            
                            <div class="col-md-4">
                                <label for="email">Email <span class="blue">*</span></label>
                                <input id="email" type="text" name="email" class="form-control" placeholder=" Email">
                            </div>

                            <div class="col-md-4">
                                <label for="message">Message <span class="blue">*</span></label>
                                <textarea id="message" name="message" class="form-control" placeholder="Votre Message" ></textarea>
                                <p class="comments"></p>
                            </div>

                            <button type="button" class="btn btn-default">Envoyer</button>

                        </div>

        </form>
                            
                           
                            

    </div>
    
  </section>
  
  <footer>
    <div class="wrapper">
      <h1><span class="titre">Online</span><span class="titre1">Market</span></h1>
      <div class="Copyright">Copyright © theesboys-2019. Tous droits réservés.</div>
    </div>
  </footer>  



  </div>
  
</div>